@charset "UTF-8";
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/lib\/_utils\.scss}line{font-family:\000033}}
input, textarea, select, .search input {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/lib\/_utils\.scss}line{font-family:\000038}}
select, .search input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/lib\/_utils\.scss}line{font-family:\0000312}}
.search button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?16275093");
  src: url("../font/fontello.eot?16275093#iefix") format("embedded-opentype"), url("../font/fontello.woff?16275093") format("woff"), url("../font/fontello.ttf?16275093") format("truetype"), url("../font/fontello.svg?16275093#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?16275093#fontello') format('svg');
  }
}
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_fontello\.scss}line{font-family:\0000322}}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_fontello\.scss}line{font-family:\0000353}}
.icon-mail:before {
  content: '\e801';
}

/* '' */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_fontello\.scss}line{font-family:\0000354}}
.icon-menu:before {
  content: '\e800';
}

/* '' */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_fontello\.scss}line{font-family:\0000355}}
.icon-search:before {
  content: '\e802';
}

/* '' */
/* 
html5doctor.com Reset Stylesheet v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Plus various modifications by me (MSttt) 
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/lib\/_reset\.scss}line{font-family:\0000318}}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/lib\/_reset\.scss}line{font-family:\0000327}}
body {
  line-height: 1.5;
  font-family: sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/lib\/_reset\.scss}line{font-family:\0000332}}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/lib\/_reset\.scss}line{font-family:\0000335}}
ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/lib\/_reset\.scss}line{font-family:\0000338}}
blockquote, q {
  quotes: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/lib\/_reset\.scss}line{font-family:\0000342}}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/lib\/_reset\.scss}line{font-family:\0000346}}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit;
}

/* change colours to suit your needs */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/lib\/_reset\.scss}line{font-family:\0000356}}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/lib\/_reset\.scss}line{font-family:\0000362}}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/lib\/_reset\.scss}line{font-family:\0000368}}
del {
  text-decoration: line-through;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/lib\/_reset\.scss}line{font-family:\0000371}}
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/lib\/_reset\.scss}line{font-family:\0000375}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/lib\/_reset\.scss}line{font-family:\0000380}}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/lib\/_reset\.scss}line{font-family:\0000388}}
input, select {
  vertical-align: middle;
}

/* apply a natural box layout model to all elements */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/lib\/_reset\.scss}line{font-family:\0000393}}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 50em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_layout\.scss}line{font-family:\000035}}
  body {
    padding: 1em;
    max-width: 81.25em;
    margin: 0 auto;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_layout\.scss}line{font-family:\0000312}}
.primary, .secondary {
  padding: 1em;
  border-bottom: 1px solid #8f3b40;
}

@media screen and (min-width: 50em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_layout\.scss}line{font-family:\0000317}}
  main {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_layout\.scss}line{font-family:\0000322}}
  .primary, .secondary {
    display: table-cell;
    vertical-align: top;
    padding: 1em 2.5em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_layout\.scss}line{font-family:\0000327}}
  .secondary {
    width: 25em;
    min-width: 25em;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_layout\.scss}line{font-family:\0000334}}
main {
  padding: 1em 2.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_header\.scss}line{font-family:\000032}}
header[role="banner"] {
  background: #8f3b40;
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  color: rgba(255, 255, 255, 0.85);
  padding: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_header\.scss}line{font-family:\000037}}
header[role="banner"] h1 {
  font-size: 1.875em;
  color: inherit;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
  line-height: 1.3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_header\.scss}line{font-family:\0000313}}
header[role="banner"] p {
  font-size: 1.125em;
  font-style: italic;
}
@media screen and (min-width: 50em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_header\.scss}line{font-family:\000032}}
  header[role="banner"] {
    border-radius: 20px;
    padding: 1.5em 2.5em 1em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_header\.scss}line{font-family:\0000320}}
  header[role="banner"] h1 {
    font-size: 2.75em;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_nav\.scss}line{font-family:\000032}}
nav[role="navigation"] {
  padding: 0 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_nav\.scss}line{font-family:\000034}}
nav[role="navigation"] .nav-collapse {
  padding: 1em 0;
  border-bottom: 1px solid #8f3b40;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_nav\.scss}line{font-family:\000038}}
nav[role="navigation"] li {
  border-bottom: 1px solid #8f3b40;
  padding: 1em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_nav\.scss}line{font-family:\0000311}}
nav[role="navigation"] li a {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_nav\.scss}line{font-family:\0000313}}
nav[role="navigation"] li a:active, nav[role="navigation"] li a:hover {
  color: #8f3b40;
}
@media screen and (min-width: 50em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_nav\.scss}line{font-family:\000032}}
  nav[role="navigation"] {
    padding: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_nav\.scss}line{font-family:\0000318}}
  nav[role="navigation"] a {
    font-size: 1.25em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_nav\.scss}line{font-family:\0000319}}
  nav[role="navigation"] li {
    display: inline-block;
    padding: 1em 2.5em 0;
    border-bottom: none;
  }
}

/* pick out the active menu item */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_nav\.scss}line{font-family:\0000332}}
.home nav .home,
.portfolio nav .portfolio,
.testimonials nav .testimonials,
.blog nav .blog,
.contact nav .contact {
  font-weight: bold;
  color: #8f3b40;
}

/* collapsing menu */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_nav\.scss}line{font-family:\0000341}}
#nav-collapse {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_nav\.scss}line{font-family:\0000343}}
#nav-collapse.active {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_nav\.scss}line{font-family:\0000347}}
#nav {
  max-height: 20em;
  overflow: hidden;
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  transition: max-height 1s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_nav\.scss}line{font-family:\0000356}}
#nav.hide {
  max-height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_footer\.scss}line{font-family:\000031}}
footer[role="contentinfo"] {
  clear: both;
  padding: 1em;
  color: #aaa;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_footer\.scss}line{font-family:\000035}}
footer[role="contentinfo"] a:hover, footer[role="contentinfo"] a:active {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_footer\.scss}line{font-family:\000036}}
footer[role="contentinfo"] ul {
  font-size: 0.625em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_footer\.scss}line{font-family:\000037}}
footer[role="contentinfo"] li {
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_footer\.scss}line{font-family:\000039}}
footer[role="contentinfo"] li:after {
  content: "  ● ";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_footer\.scss}line{font-family:\0000310}}
footer[role="contentinfo"] li:last-child:after {
  content: "";
}
@media screen and (min-width: 50em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_footer\.scss}line{font-family:\000031}}
  footer[role="contentinfo"] {
    padding: 1em 2.5em;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_forms\.scss}line{font-family:\000031}}
label {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_forms\.scss}line{font-family:\000035}}
input, textarea {
  width: 100%;
  height: 40px;
  height: 2.5rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_forms\.scss}line{font-family:\0000310}}
select {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_forms\.scss}line{font-family:\0000315}}
textarea {
  height: 8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_forms\.scss}line{font-family:\0000319}}
.error {
  color: red;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_forms\.scss}line{font-family:\0000321}}
.error p:last-child {
  padding-bottom: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_forms\.scss}line{font-family:\0000323}}
button {
  border: 1px solid #1a0000;
  border-bottom: 1px solid #110000;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 0 #b4584c;
  color: white;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  background-color: #8f3b40;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8f3b40), color-stop(50%, #57091f), color-stop(50%, #390010), color-stop(100%, #400012));
  background-image: -webkit-linear-gradient(top, #8f3b40 0%, #57091f 50%, #390010 50%, #400012 100%);
  background-image: linear-gradient(to bottom,#8f3b40 0%, #57091f 50%, #390010 50%, #400012 100%);
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #030000;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/lib\/bourbon\/addons\/_button\.scss}line{font-family:\00003151}}
button:hover:not(:disabled) {
  cursor: pointer;
  background-color: #822c2e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #822c2e), color-stop(50%, #4d000d), color-stop(50%, #320000), color-stop(100%, #390001));
  background-image: -webkit-linear-gradient(top, #822c2e 0%, #4d000d 50%, #320000 50%, #390001 100%);
  background-image: linear-gradient(to bottom,#822c2e 0%, #4d000d 50%, #320000 50%, #390001 100%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/lib\/bourbon\/addons\/_button\.scss}line{font-family:\00003171}}
button:active:not(:disabled) {
  box-shadow: inset 0 0 20px 0 #200000, 0 1px 0 white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/lib\/bourbon\/addons\/_button\.scss}line{font-family:\0000338}}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_forms\.scss}line{font-family:\0000333}}
.search {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_forms\.scss}line{font-family:\0000335}}
.search input {
  width: 80%;
  vertical-align: bottom;
  height: 40px;
  height: 2.5rem;
  padding: 0 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_forms\.scss}line{font-family:\0000343}}
.search button {
  width: 20%;
  vertical-align: bottom;
  height: 40px;
  height: 2.5rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_typography\.scss}line{font-family:\000034}}
h1, h2, .text h1, .text h2 {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-size: 1.875em;
  color: #8f3b40;
  line-height: 1.3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_typography\.scss}line{font-family:\0000310}}
.text a {
  color: #8f3b40;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_typography\.scss}line{font-family:\0000312}}
.text a:hover, .text a:active {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_typography\.scss}line{font-family:\0000316}}
.text h1, .text h2 {
  padding-top: 16px;
  padding-top: 1rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_typography\.scss}line{font-family:\0000319}}
.text h1:first-child, .text h2:first-child {
  padding-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_typography\.scss}line{font-family:\0000321}}
.text p, .text ol, .text ul {
  padding-top: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_typography\.scss}line{font-family:\0000323}}
.text p:first-child, .text ol:first-child, .text ul:first-child {
  padding-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_typography\.scss}line{font-family:\0000325}}
.text h1 + p, .text h2 + p {
  padding-top: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_typography\.scss}line{font-family:\0000326}}
.text p + ol, .text p + ul {
  padding-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_typography\.scss}line{font-family:\0000327}}
.text ul {
  list-style: disc inside;
  padding-left: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_typography\.scss}line{font-family:\0000331}}
.text li {
  padding-top: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_typography\.scss}line{font-family:\0000333}}
.text li:first-child {
  padding-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/_typography\.scss}line{font-family:\0000338}}
.text nav {
  padding-top: 1em;
  border-top: 1px solid #8f3b40;
  margin-top: 1em;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/style\.scss}line{font-family:\0000327}}
.portfolioThumb li {
  overflow: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/style\.scss}line{font-family:\0000328}}
.portfolioThumb img {
  float: left;
  border-radius: 2px;
  border: 2px solid #8f3b40;
  margin: 1.5em 0.5em 0.5em 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/style\.scss}line{font-family:\0000334}}
.portfolioThumb .active img {
  border: 4px solid #8f3b40;
  padding: 5px;
  transform: rotate(-3deg);
}

/*! http://responsiveslides.com v1.54 by @viljamis */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/lib\/_responsiveslides\.scss}line{font-family:\000033}}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/lib\/_responsiveslides\.scss}line{font-family:\0000312}}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/lib\/_responsiveslides\.scss}line{font-family:\0000321}}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/lib\/_responsiveslides\.scss}line{font-family:\0000327}}
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/style\.scss}line{font-family:\0000342}}
.rslides {
  margin: 1em auto 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/style\.scss}line{font-family:\0000346}}
.rslides_tabs {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/style\.scss}line{font-family:\0000348}}
.rslides_tabs li {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/style\.scss}line{font-family:\0000351}}
.rslides_tabs a {
  border: 2px solid #8f3b40;
  border-radius: 2px;
  margin: 1em;
  padding: 0.5em 1em;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/style\.scss}line{font-family:\0000358}}
.rslides_tabs .rslides_here a {
  border: 4px solid #8f3b40;
  font-weight: bold;
  transform: rotate(-3deg);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/style\.scss}line{font-family:\0000366}}
.testament-author {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/style\.scss}line{font-family:\0000371}}
[rel="prev"], [rel="next"] {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/style\.scss}line{font-family:\0000374}}
[rel="prev"] {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/style\.scss}line{font-family:\0000375}}
[rel="next"] {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/m\/Sites\/marionnewlevant\.github\.io\/sass\/style\.scss}line{font-family:\0000379}}
.syntaxhighlighter .toolbar {
  display: none;
}
