footer[role="contentinfo"] {
  clear: both;
  padding: $narrow-side-pad;
  color: #aaa;
  a:hover, a:active { text-decoration: underline; }
  ul {font-size: em(10); }
  li {
    display: inline;
    &:after { content: "  ● ";}
    &:last-child:after { content: "";}
  }
  @include respond-min($break1) {
    padding: 1em $wide-side-pad;
  }
}
