// header css
header[role="banner"] {
  background: $site-color;
  font-family: $serif;
  color: rgba(255, 255, 255, 0.85);
  padding: $narrow-side-pad;
  h1 {
    font-size: em(30);
    color: inherit;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
    line-height: $header-line-height;
  }
  p {
    font-size: em(18);
    font-style: italic;
  }
  @include respond-min($break1) {
    border-radius: 20px;
    padding: 1.5em $wide-side-pad 1em;
    h1 {
      font-size: em(44);
    }
  }
}
