// responsive table layout. html:
// <main><div class="primary">...</div><div class="secondary">...</div></main>
// secondary is fixed width, and primary is the rest
@include respond-min($break1) {
  body {
    padding: 1em;
    max-width: em(1300);
    margin: 0 auto;
  }
}

.primary, .secondary {
  padding: $narrow-side-pad;
  border-bottom: 1px solid $site-color;
}
@include respond-min($break1) {
  main {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .primary, .secondary {
    display: table-cell;
    vertical-align: top; // so content is at top of column
    padding: 1em $wide-side-pad;
  }
  .secondary {
    width: em(400);
    min-width: em(400); // or we shrink when primary is too wide
  }
}

// =========== github pages ========== //
main {
  padding: 1em $wide-side-pad;
}
