// main site nav. We use nav for next/prev links too.
nav[role="navigation"] {
  padding: 0 $narrow-side-pad;
  .nav-collapse {
    padding: 1em 0;
    border-bottom: 1px solid $site-color;
  }
  li {
    border-bottom: 1px solid $site-color;
    padding: 1em 0;
    a {
      display: block;
      &:active, &:hover { color: $site-color; }
    }
  }
  @include respond-min($break1) {
    padding: 0;
    a { font-size: em(20); }
    li {
      display: inline-block;
      padding: 1em $wide-side-pad 0;
      border-bottom: none;
    }
  }
}

/* pick out the active menu item */
.home nav .home,
.portfolio nav .portfolio,
.testimonials nav .testimonials,
.blog nav .blog,
.contact nav .contact {
  font-weight: bold;
  color: $site-color;
}

/* collapsing menu */
// #nav-collapse is the menu link, made active by javascript
// #nav is the list of menu items, that show and hide when #nav-collapse is clicked.
// requires js/nav.js.
#nav-collapse {
  display: none;
  &.active {
    display: block;
  }
}
#nav {
  max-height: 20em;
  overflow: hidden;
  @include transition(max-height 1s);
    // -moz-transition: 1s;
    // -ms-transition: 1s;
    // -o-transition: 1s;
    // -webkit-transition: 1s;
    // transition: 1s;
  &.hide {
    max-height: 0;
  }
}

