// typography is mostly scoped to .type, so we can use those tags elsewhere.
// padding is from the top, so we can use adjacent sibling selector for special cases

%header-style {
  font-family: $serif;
  font-size: em(30);
  color: $site-color;
  line-height: $header-line-height;
}
%link-style {
  color: $site-color;
  &:hover,&:active { text-decoration: underline; }
}
h1, h2 { @extend %header-style; }
.text {
  h1, h2 {
    @extend %header-style;
    padding-top: 16px; padding-top: 1rem;
    &:first-child { padding-top: 0; }
  }
  p, ol, ul {
    padding-top: 1em;
    &:first-child { padding-top: 0; }
  }
  h1+p, h2+p { padding-top: 0.5em; } // reduce padding on p that follows h1, h2
  p+ol, p+ul { padding-top: 0; } // no padding on list that follows p
  ul {
    list-style: disc inside;
    padding-left: 1em;
  }
  li {
    padding-top: 0.5em;
    &:first-child { padding-top: 0; }
  }
  a {
    @extend %link-style;
  }
  nav {
    padding-top: 1em;
    border-top: 1px solid $site-color;
    margin-top: 1em;
    overflow: hidden; // expand to include inner floats
  }
}
